html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    margin: 8rem auto 0 auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
input {
    border: 1px solid black;
    border-radius: 0.25rem;
}

button {
    border: 1px solid gray;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
