body {
	background-color: rgb(188, 216, 227);
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.card {
	display: flex;
	padding: 1rem;
	border-radius: 0.5rem;
	gap: 2rem;
	align-items: center;
	background-color: whitesmoke;
	width: 50%;
	max-width: 500px;
}

.profile-picture {
	border-radius: 0.5rem;
}

.card__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.hero-header {
	font-size: 3rem;
	font-weight: 700;
}

.header {
	font-size: 2rem;
	font-weight: 700;
}

.caption {
}
