* {
	box-sizing: border-box;
}

body {
	background-color: rgb(188, 216, 227);
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.list-container {
	gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.card {
	display: flex;
	padding: 1rem;
	border-radius: 0.5rem;
	gap: 2rem;
	align-items: center;
	background-color: whitesmoke;
	width: 50%;
	max-width: 500px;
}

.profile-picture {
	border-radius: 0.5rem;
}

.card__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.hero-header {
	font-size: 3rem;
	font-weight: 700;
}

.header {
	font-size: 2rem;
	font-weight: 700;
}

.caption {
	font-size: 1rem;
}

.pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.navigation-buttons {
	display: flex;
	gap: 2rem;
}

.button-primary {
	cursor: pointer;
	background-color: rgb(255, 162, 86);
	padding: 0.25rem 1rem;
	border-radius: 100px;
}

.button-primary:disabled {
	cursor: default;
	background-color: rgb(189, 150, 118);
}
