body {
    font-family: sans-serif;
}

.accordion {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.accordion__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.accordion__header:hover {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion__content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 8px;
    pointer-events: none;
    transform: translateY(-2px) rotate(45deg);
    width: 8px;
}

.accordion-icon--rotated {
    transform: translateY(2px) rotate(-135deg);
}
